input[type=text] {
margin: 15px;
border: 2px solid green;
border-radius: 4px;
}

input[type=radio] {
margin: 15px;
border: 2px solid green;
border-color: green;
border-radius: 4px;
}

input[type=checkbox] {
margin: 15px;
border: 2px solid green;
border-color: green;
border-radius: 4px;
}

Select {
margin: 15px;
border-color: green;
}

textarea {
margin: 15px;
border-color: green;
}

input[type=button] {
margin: 15px;
padding: 15px 32px;
font-size: 16px
background-color:Blue;
}